{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="sidebar">
            <button class="menu-btn">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <button class="nav-btn home active" onclick="window.location.href='{% url 'main' %}'">
                <img src="https://img.icons8.com/fluency/48/000000/home.png" alt="Home Icon">
            </button>
            <button class="nav-btn" onclick="window.location.href='{% url 'StockInfo' %}'">
                <img src="stock.png" alt="Stock Info Icon">
            </button>
            <button class="nav-btn" onclick="window.location.href='{% url 'help' %}'">
                <img src="https://img.icons8.com/fluency/48/000000/idea.png" alt="Help Icon">
            </button>
        </div>
        <div class="header">
            <h1>Sales Insights Hub</h1>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
